[Unit]
Description=Restore ipsets at boot
After=network.target

[Service]
Type=oneshot
ExecStartPre=/usr/sbin/ipset flush
ExecStartPre=/usr/sbin/ipset destroy
ExecStart=/sbin/ipset restore -f /etc/ipset.conf
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
